{{!-- <h1>{{events[0].name}}</h1> --}}

{{#each events}}
<div class="event-card">
    <a href="/event/details/{{id}}">
    <div>
        <img src="{{image}}" alt="{{name}}">
    </div>
    <div>
        <h5>{{name}} </h5>
        <p>{{startDate}}</p>
        <p>{{location}}</p>
    </div>
    </a>
</div>
{{/each}}




<a class="btn btn-dark" href="sarao/new">nuevo sarao</a>

<a class="btn btn-dark" href="sarao/show">Ver saraos</a>

<a class="btn btn-dark" href="event/new">Nuevo evento</a>