<div class="container">

    <h1 style="margin-bottom: 40px;">Bienvenido {{dataUser.username}}</h1>

    <div class="row">


        <div class="col-md-3">

            <h4> Nombre: {{dataUser.username}}</h4>
            <h4>{{dataUser.email}}</h4>
            <img src="{{dataUser.image}}" alt="{{dataUser.name}}" style="width: 100px;">
            <p>Karmas: {{dataUser.karma}}</p>

            <a class="btn btn-dark" href="/user/edit">Editar perfil</a>

        </div>

    </div>


    <h2 style="margin-top: 40px;">Form para a単adir amigos</h2>





    {{!-- <form action="/user/profile/" method="post">
        <div class="form-group">
            <label for="add-friends">a単ade a tus amigos</label>
            <select name="friends" class="form-control" id="friends-list">
                <option>Seleccionar</option>
                {{#each friends}}
                <option value="">Primer amigo</option>
                {{/each}}

            </select>
        </div>

        <button type="submit" class="btn btn-dark">A単adir amigo</button>
    </form> --}}
</div>


<a class="btn btn-dark" href="/user/addfriend">a単adir amigos</a>