<div class="container">
    <h1 style="margin-bottom: 40px;">Bienvenido {{dataUser.username}}</h1>
    <div class="row">
        <div class="col-md-3">
            <h4> Tu mail: {{dataUser.email}}</h4>
            <div class="picframe profilepic">
                <img src="{{dataUser.image}}" alt="{{dataUser.name}}" style="width: 100px;">
            </div>
            <h6>Karma: {{dataUser.karma}}</h6>
        </div>
    </div>
   
</div>
<div class="container">
    <h2 >Lista de amigos</h2>
    <div class="">
        <div class="character-picker">
            {{#each dataUser.friends}}
            {{>facecard}}
            {{/each}}
        </div>
    </div>
    <div class="general-bouttons profile">
        <a href="/user/addfriend">añadir amigos</a>
    </div>
</div>
<div class="container">
    <h2 style="margin: 40px 0px;">Tus eventos</h2>
    <div class="row">
        <div class="col-md-3">
            {{#each userEvent}}
            <h4>{{name}}</h4>
            {{/each}}
        </div>
    </div>
    <div class="general-bouttons">
        <a href="/user/edit">Editar perfil</a>
        <a href="/logout">Cerrar sesión</a>
    </div>
</div>