<div class="container">

    <h1 style="margin-bottom: 40px;">Bienvenido {{dataUser.username}}</h1>

    <div class="row">


        <div class="col-md-3">

            <h4> Tu mail: {{dataUser.email}}</h4>
            <img src="{{dataUser.image}}" alt="{{dataUser.name}}" style="width: 100px;">
            <p>Karmas: {{dataUser.karma}}</p>

            <a class="btn btn-dark" href="/user/edit">Editar perfil</a>

        </div>

    </div>




</div>

<div class="container">

    <h2 style="margin-top: 40px;">Lista de amigos</h2>

    <div class="row">


        <div class="col-md-3">
            {{#each dataUser.friends}}
            <h4>{{username}}</h4>
            {{/each}}


        </div>

    </div>

    <a class="btn btn-dark" href="/user/addfriend">añadir amigos</a>


</div>







<div class="container">

    <h1 style="margin: 40px 0px;">Tus eventos</h1>

    <div class="row">


        <div class="col-md-3">
            {{#each userEvent}}
            <h4>{{this.name}}</h4>
            {{/each}}


        </div>

    </div>




</div>