<div class="container ">
    <h1>Tus saraos</h1>
    {{#each userSaraos}}
    <div class="row sarao">
        <div class="col">
            <img src="{{image}}" alt="{{name}}">
        </div>
        <div class="col">
            <h5>{{name}}</h5>
            <p><span>{{location}}</span><span>{{startString}}/{{endString}} </span></p>
        </div>
        <div class="col">
            {{#each userList}}
            {{username}} {{!-- <img src="{{userList.image}}" alt="{{userList.name}}">  --}}
            {{/each}}
        </div>
    </div>
    <div class="general-bouttons">
        <form action="/sarao/delete/{{id}}" method="post">
            <button type="submit">Borrar sarao </button>
        </form>
        <a href="/sarao/edit/{{id}}">editar sarao</a>
        <a href="/sarao/change/{{id}}">Cambiar a sarao</a>
        {{/each}}
        <a href="/sarao/new">Nuevo Sarao</a>
    </div>
</div>