<h1>LOS SAAARAAAAOOOS</h1>

<div class="container">
    {{#each userSaraos}}
    <div class="row" style="border: 1px solid black;">
        <div class="col">
            <img src="{{image}}" alt="{{name}}">
        </div>
        <div class="col">
            <h5>{{name}}</h5>
            <p><span>{{location}}</span><span>{{startString}}/{{endString}} </span></p>
        </div>
        <div class="col">
            {{#each userList}}
            {{username}} {{!-- <img src="{{userList.image}}" alt="{{userList.name}}">  --}}
            {{/each}}
        </div>
    </div>
</div>
<form action="/sarao/delete/{{id}}" method="post">
    <button type="submit" class="btn btn-dark">Borrar sarao </button>
</form>
</div>
<div>
    <a href="/sarao/edit/{{id}}" class="btn btn-dark" style="margin-top: 20px;">editar sarao</a>
    <a href="/sarao/change/{{id}}" class="btn btn-dark" style="margin-top: 20px;">Cambiar a sarao</a>
</div>
{{/each}}
<a href="/sarao/new" class="btn btn-dark" style="margin-top: 40px;">Nuevo Sarao</a>