<div class="event-card">
<img src="{{event.image}}" alt="{{event.name}}">
<hr>
<h4>{{event.name}}</h4>
<p><span>{{event.location}}. </span><span>{{event.dateString}} {{event.timeString}} ({{event.duration}}min.)</span></p>
<p>{{event.description}}</p>
<p>Creado por {{event.owner.username}} en {{event.sarao.name}}</p>
<p>Karma +: {{event.karmaPlus}}<a href="/event/addme/plus?eventId={{event.id}}">Apúntame</a></p> {{!--Aquí el botón de Ajax para req.user apuntarse/quitarse del evento  --}}
<h6>Currantes</h6>
<ul>
    {{#each event.userPlus}}
    {{> facecard}}
        {{!-- <li>
            <img src="{{image}}" alt="{{username}}">
            <p>{{username}}</p>
        </li> --}}
    {{/each}}
</ul>
<p>Karma -: {{event.karmaMinus}} <a href="/event/addme/minus?eventId={{event.id}}">Apúntame</a></p>{{!--Aquí el botón de Ajax para req.user apuntarse/quitarse del evento  --}}
<h6>Disfrutones</h6>
<ul>
    {{#each event.userMinus}}
    {{> facecard}}
        {{!-- <li>
            <img src="{{image}}" alt="{{username}}">
             <p>{{username}}</p>
        </li> --}}
    {{/each}}
</ul>

{{#if canEdit}}
<a href="/event/edit/{{event.id}}">Editar evento</a>
<a href="/event/delete/{{event.id}}">Eliminar evento</a>
<form action="/event/close/{{event.id}}" method="post">
    <button type="submit">Cerrar Evento</button>
</form>

{{/if}}

</div>
