
<main class="container">

{{!-- //Tiene que recibir el objeto Sarao     --}}
<form action="/event/edit/{{id}}" method="post">

        <div class="form-group">
          <label for="name-event-input">Nombre</label>
          <input name="name" value="{{name}}" type="text" class="form-control" id="name-event-input">
        </div>
        <div class="form-group">
          <label for="description-event-input">Descripción</label>
          <input name="description" value="{{description}}" type="text" class="form-control" id="description-event-input">
        </div>
        <div class="form-group">
          <label for="startDate-event-input">Fecha</label>
          <input name="startDate" value="{{startDate}}" placeholder="{{startDate}}" type="date" class="form-control" id="startDate-event-input">
        </div>
         <div class="form-group">
          <label for="startDate-event-input" value="startDate">Hora</label>
          <input name="startTime" value="{{startTime}}" type="date" class="form-control" id="startDate-event-input">
        </div>
        <div class="form-group">
          <label for="duration-event-input">Duración</label>
          <input name="duration" value="{{duration}}" type="number" class="form-control" id="duration-event-input">
        </div>

        <div class="form-group">
          <label for="karmaPlus-event-input">Karma +</label>
          <input name="karmaPlus" value="{{karmaPlus}}" type="number" class="form-control" id="karmaPlus-event-input">
        </div>
        <div class="form-group">
          <label for="karmaMinus-event-input">Karma -</label>
          <input name="karmaMinus" value="{{karmaMinus}}" type="number" class="form-control" id="karmaMinus-event-input">
        </div>

        <div class="form-group">
          <label for="userPlus-list">Currantes</label>
          <select name="userPlus" class="form-control" id="userPlus-list" multiple>
            <option>Seleccionar</option>
            {{#each this.users}}
              <option value="{{_id}}">{{name}}</option>
            {{/each}}
          </select>
        </div>

        <div class="form-group">
          <label for="userMinus-list">Disfrutones</label>
          <select name="userMinus" class="form-control" id="userMinus-list" multiple>
            <option>Seleccionar</option>
            {{#each this.users}}
              <option value="{{_id}}">{{name}}</option>
            {{/each}}
          </select>
        </div>

        <button type="submit" class="btn btn-dark">Editar Evento</button>
        <a href="/" class="btn btn-dark">Volver</a>

      </form>



